<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      movie app
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let x of myMovies">
    <img  src={{x.Poster}}>/>
    <ion-card-header>
      <ion-card-title> {{x.Title}}</ion-card-title>
      <ion-card-subtitle>{{x.Year}}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>
</ion-content>
